body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: #FFE3C9;
  overflow-x: hidden; }

#nav {
  background: #670d0f; }

ul li a {
  text-decoration: none;
  font-size: 2em;
  color: pink;
  font-family: "DejaVu Sans"; }

ul li {
  margin: 1em 2em; }

ul li:hover ul {
  background-color: black; }
